{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}

{% load static %}
{% block css %}

{% endblock %}


{% block content %}

    <form action="" method="post" class="" novalidate>
        {% csrf_token %}

        {% for field in form %}
            <div class="">
                {{ field.errors }}
            </div>
        {% endfor %}

        <div class="">
            {{ form.phone_number }}
        </div>
        <div class="">
            {{ form.password }}
        </div>
        <div class="">
            {{ form.confirm_password }}
        </div>
        <input class="" type="submit" value="ثبت نام">
    </form>

    <a href="{% url 'accounts:user_login' %}" class="">ثبت نام کرده اید ؟</a>

{% endblock %}


