<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block css %} {% endblock %}

    {% block favicon %} {% endblock %}

</head>
<body>


    {% include 'inc/navbar.html' %}

    {% include 'inc/messages.html' %}

    {% block content %} {% endblock %}

    {% include 'inc/footer.html' %}

    {% block js %} {% endblock %}

</body>
</html>